.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.header-adaptive {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
}

.header-user {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;
}

.header .header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
}

.header .avatarUser {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ae5e0b
}

li {
    padding: 10px;
    list-style-type: none;
    background: #fff;
}

li:hover {
    list-style-type: none;
    background: #ae5e0b;
}

.header-links li:hover a {
    color: rgb(255, 251, 251);
}

.header-links li .link-account,
a {
    color: #ae5e0b;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.test {
    color: #e42f0b;
}